@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --ebony-clay: #222835;
  --ebony-clay-brighter: #242938;

  --reddish-orange: #F2511B;
  --reddish-orange-opacity-60: rgba(242, 81, 27, .6);
  --reddish-orange-brighter: #F06739;

  /* Change this to rgba and reuse it */
  --pattens-blue: #E5F3FF;
  --pattens-blue-opacity-80: rgba(229, 243, 255, .8);
  --bright-grey: #3C4350;

  --black: rgba(0, 0, 0, .4);

  --color-primary: var(--ebony-clay);
  --color-primary-brighter: var(--ebony-clay-brighter);

  --color-secondary: var(--pattens-blue);

  --color-accent: var(--reddish-orange);
  --color-accent-brighter: var(--reddish-orange-brighter);

  --color-neutral: var(--bright-grey);

  --font-small: 14px;
  --font-base: 16px;
  --font-big: 30px;
  --font-bigger: 40px;

  --opacity-primary: .8;
  --opacity-secondary: .5;
  --opacity-tertiary: .7;
  --opacity-quaternary: .6;

  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --drop-shadow: drop-shadow(0 0 0.14rem var(--black));
  --box-shadow: 0 3px 4px var(--black);

  --font-family: 'Lato', system-ui, sans-serif;

  --transition-primary: .3s ease;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-neutral);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}

html,
button,
a,
input {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-base);
  color: var(--color-secondary);
  text-wrap: pretty;
  word-break: break-all;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Components */
.page-title {
  font-size: var(--font-bigger);
}

.section-title {
  font-size: var(--font-big);
}

@media (min-width: 450px) {

  html,
  button,
  a,
  input {
    word-break: initial;
  }
}